In [70]:
import pandas as pd

ccml = "../data/rawdata/ccml.xlsx"
county_codes = pd.read_excel(open(ccml, 'rb'), sheet_name = 'County_Codes', header = 0)
county_codes.head(5)

  State Name State Code Subdivision Code        County Name  County Code
0     ALASKA         AK                S          ADAK QUAD            1
1     ALASKA         AK                S       AFOGNAK QUAD            3
2     ALASKA         AK                S  AMBLER RIVER QUAD            5
3     ALASKA         AK                S        AMUKTA QUAD            7
4     ALASKA         AK                S     ANCHORAGE QUAD            9

In [71]:
county_codes.to_csv(r'../data/cleandata/county_codes.csv')

In [72]:
# Get column names
column_names = county_codes.columns
print(column_names)

Index(['State Name', 'State Code', 'Subdivision Code', 'County Name',
       'County Code'],
      dtype='object')

In [73]:
# Get column data types
county_codes.dtypes

State Name          object
State Code          object
Subdivision Code    object
County Name         object
County Code          int64
dtype: object

In [74]:
#Open the worksheet oil and gas county production
oilgascounty = "../data/rawdata/oilgascounty.xls"
oilgas_county = pd.read_excel(open(oilgascounty, 'rb'), sheet_name = 'oilgascounty', header = 0)
oilgas_county.head(5)

,FIPS,geoid,Stabr,County_Name,Rural_Urban_Continuum_Code_2013,Urban_Influence_2013,Metro_Nonmetro_2013,Metro_Micro_Noncore_2013,oil2000,oil2001,...,gas2005,gas2006,gas2007,gas2008,gas2009,gas2010,gas2011,oil_change_group,gas_change_group,oil_gas_change_group
0,1001,1001,AL,Autauga County,2,2,1,2,0,0,...,0,0,0,0,0,0,0,Status Quo,Status Quo,Status Quo
1,1003,1003,AL,Baldwin County,3,2,1,2,138072,134666,...,84536875,83951640,82876786,78547145,68525628,63069025,51041072,Status Quo,H_Decline,H_Decline
2,1005,1005,AL,Barbour County,6,6,0,0,0,0,...,0,0,0,0,0,0,0,Status Quo,Status Quo,Status Quo
3,1007,1007,AL,Bibb County,1,1,1,2,0,0,...,8301,98853,480015,684143,551719,453132,400504,Status Quo,Status Quo,Status Quo
4,1009,1009,AL,Blount County,1,1,1,2,0,0,...,0,0,0,20516,61054,3594,21496,Status Quo,Status Quo,Status Quo

In [75]:
oilgas_county.drop(['oil2000', 'oil2001', 'oil2002', 'oil2003', 'oil2004', 'oil2005', 'oil2006', 'oil2007', 'oil2008',
                   'oil2009', 'oil2010', 'oil2011', 'oil_change_group', 'gas_change_group', 'oil_gas_change_group'], axis=1,
                   inplace=True)
oilgas_county.head(5)

,FIPS,geoid,Stabr,County_Name,Rural_Urban_Continuum_Code_2013,Urban_Influence_2013,Metro_Nonmetro_2013,Metro_Micro_Noncore_2013,gas2000,gas2001,gas2002,gas2003,gas2004,gas2005,gas2006,gas2007,gas2008,gas2009,gas2010,gas2011
0,1001,1001,AL,Autauga County,2,2,1,2,0,0,0,0,0,0,0,0,0,0,0,0
1,1003,1003,AL,Baldwin County,3,2,1,2,72543902,98699994,107142655,101510068,90146850,84536875,83951640,82876786,78547145,68525628,63069025,51041072
2,1005,1005,AL,Barbour County,6,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1007,1007,AL,Bibb County,1,1,1,2,0,0,0,0,0,8301,98853,480015,684143,551719,453132,400504
4,1009,1009,AL,Blount County,1,1,1,2,0,0,0,0,0,0,0,0,20516,61054,3594,21496

In [ ]:
oilgas_county.stack()

In [ ]:
#verify data types
oilgas_county.dtypes

In [ ]:
print(oilgas_county.columns)

In [ ]:
#Open the worksheet Anadarko Region production
dpr_data = "../data/rawdata/dpr-data.xlsx"
dpr_anadarko = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Anadarko Region', header = 1)
dpr_anadarko.insert(loc = 0, column = 'Region', value = 'Anadarko')
dpr_anadarko.head(5)

In [ ]:
dpr_anadarko.to_csv(r'../data/cleandata/dpr_anadarko.csv')

In [ ]:
dpr_anadarko.dtypes

In [ ]:
# Open the worksheet Appalachia Region production
dpr_appalachia = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Appalachia Region', header = 1)
dpr_appalachia.insert(loc = 0, column = 'Region', value = 'Appalachia')
dpr_appalachia.head(5)

In [ ]:
dpr_appalachia.to_csv(r'../data/cleandata/dpr_appalachia.csv')

In [ ]:
dpr_appalachia.dtypes

In [ ]:
# Open the worksheet Bakken Region production
dpr_bakken = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Bakken Region', header = 1)
dpr_bakken.insert(loc = 0, column = 'Region', value = 'Bakken')
dpr_bakken.head(5)

In [ ]:
dpr_bakken.to_csv(r'../data/cleandata/dpr_bakken.csv')

In [ ]:
dpr_bakken.dtypes

In [ ]:
# Open the worksheet Eagle Ford Region production
dpr_eagle_ford = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Eagle Ford Region', header = 1)
dpr_eagle_ford.insert(loc = 0, column = 'Region', value = 'Eagle Ford')
dpr_eagle_ford.head(5)

In [ ]:
dpr_eagle_ford.to_csv(r'../data/cleandata/dpr_eagle_ford.csv')

In [ ]:
dpr_eagle_ford.dtypes

In [ ]:
# Open the worksheet Haynesville Region production
dpr_haynesville = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Haynesville Region', header = 1)
dpr_haynesville.insert(loc = 0, column = 'Region', value = 'Haynesville')
dpr_haynesville.head(5)

In [ ]:
dpr_haynesville.to_csv(r'../data/cleandata/dpr_haynesville.csv')

In [ ]:
dpr_haynesville.dtypes

In [ ]:
# Open the worksheet Niobrara Region production
dpr_niobrara = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Niobrara Region', header = 1)
dpr_niobrara.insert(loc = 0, column = 'Region', value = 'Niobrara')
dpr_niobrara.head(5)

In [ ]:
dpr_niobrara.to_csv(r'../data/cleandata/dpr_niobrara.csv')

In [ ]:
dpr_niobrara.dtypes

In [ ]:
# Open the worksheet Permian Region production
dpr_permian = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Permian Region', header = 1)
dpr_permian.insert(loc = 0, column = 'Region', value = 'Permian')
dpr_permian.head(5)

In [ ]:
dpr_permian.to_csv(r'../data/cleandata/dpr_permian.csv')

In [ ]:
dpr_permian.dtypes

In [ ]:
# Open the worksheet Region Counties
dpr_region_counties = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'RegionCounties', header = 0)
dpr_region_counties.head(5)

In [ ]:
dpr_region_counties.to_csv(r'../data/cleandata/dpr_region_counties.csv')

In [ ]:
dpr_region_counties.dtypes

In [ ]:
regions = [dpr_anadarko, dpr_appalachia, dpr_bakken, dpr_eagle_ford, dpr_haynesville, dpr_niobrara, dpr_permian]
production = pd.concat (regions)
production.head

In [ ]:
production.to_csv(r'../data/cleandata/production.csv')