In [1]:
import pandas as pd
import xlrd

file = "../data/rawdata/ccml.xlsx"
df = pd.read_excel(open(file, 'rb'), sheet_name = 'County_Codes', header = 0)
df

,State Name,State Code,Subdivision Code,County Name,County Code
0,ALASKA,AK,S,ADAK QUAD,1
1,ALASKA,AK,S,AFOGNAK QUAD,3
2,ALASKA,AK,S,AMBLER RIVER QUAD,5
3,ALASKA,AK,S,AMUKTA QUAD,7
4,ALASKA,AK,S,ANCHORAGE QUAD,9
5,ALASKA,AK,S,ARCTIC QUAD,11
6,ALASKA,AK,S,ATKA QUAD,13
7,ALASKA,AK,S,ATLIN QUAD,15
8,ALASKA,AK,S,ATTU QUAD,17
9,ALASKA,AK,S,BAIRD INLET QUAD,19
10,ALASKA,AK,S,BAIRD MOUNTAINS QUAD,21
11,ALASKA,AK,N,BARROW QUAD,23
12,ALASKA,AK,N,BARTER ISLAND QUAD,25
13,ALASKA,AK,S,BEAVER QUAD,27
14,ALASKA,AK,N,BEECHEY POINT QUAD,29
15,ALASKA,AK,S,BENDELEBEN QUAD,31
16,ALASKA,AK,S,BERING GLACIER QUAD,33
17,ALASKA,AK,S,BETHEL QUAD,35
18,ALASKA,AK,S,BETTLES QUAD,37
19,ALASKA,AK,S,BIG DELTA QUAD,39
20,ALASKA,AK,S,BLACK QUAD,41
21,ALASKA,AK,S,BLACK RIVER QUAD,43
22,ALASKA,AK,S,BLYING SOUND QUAD,45
23,ALASKA,AK,S,BRADFIELD CANAL QUAD,47
24,ALASKA,AK,S,BRISTOL BAY QUAD,49
25,ALASKA,AK,S,CANDLE QUAD,51
26,ALASKA,AK,S,CAPE MENDENHALL QUAD,53
27,ALASKA,AK,S,CHANDALAR QUAD,55
28,ALASKA,AK,N,CHANDLER LAKE QUAD,57
29,ALASKA,AK,S,CHARLEY RIVER QUAD,59
...,...,...,...,...,...
3236,WEST VIRGINIA,WV,NaN,UPSHUR,97
3237,WEST VIRGINIA,WV,NaN,WAYNE,99
3238,WEST VIRGINIA,WV,NaN,WEBSTER,101
3239,WEST VIRGINIA,WV,NaN,WETZEL,103
3240,WEST VIRGINIA,WV,NaN,WIRT,105
3241,WEST VIRGINIA,WV,NaN,WOOD,107
3242,WEST VIRGINIA,WV,NaN,WYOMING,109
3243,WYOMING,WY,NaN,ALBANY,1
3244,WYOMING,WY,NaN,BIG HORN,3
3245,WYOMING,WY,NaN,CAMPBELL,5
3246,WYOMING,WY,NaN,CARBON,7
3247,WYOMING,WY,NaN,CONVERSE,9
3248,WYOMING,WY,NaN,CROOK,11
3249,WYOMING,WY,NaN,FREMONT,13
3250,WYOMING,WY,NaN,GOSHEN,15
3251,WYOMING,WY,NaN,HOT SPRINGS,17
3252,WYOMING,WY,NaN,JOHNSON,19
3253,WYOMING,WY,NaN,LARAMIE,21
3254,WYOMING,WY,NaN,LINCOLN,23
3255,WYOMING,WY,NaN,NATRONA,25
3256,WYOMING,WY,NaN,NIOBRARA,27
3257,WYOMING,WY,NaN,PARK,29
3258,WYOMING,WY,NaN,PLATTE,31
3259,WYOMING,WY,NaN,SHERIDAN,33
3260,WYOMING,WY,NaN,SUBLETTE,35
3261,WYOMING,WY,NaN,SWEETWATER,37
3262,WYOMING,WY,NaN,TETON,39
3263,WYOMING,WY,NaN,UINTA,41
3264,WYOMING,WY,NaN,WASHAKIE,43
3265,WYOMING,WY,NaN,WESTON,45

In [2]:
# Get column names
column_names = df.columns
print(column_names)

Index(['State Name', 'State Code', 'Subdivision Code', 'County Name',
       'County Code'],
      dtype='object')

In [3]:
# Get column data types
df.dtypes

State Name          object
State Code          object
Subdivision Code    object
County Name         object
County Code          int64
dtype: object