In [42]:
import pandas as pd

ccml = "../data/rawdata/ccml.xlsx"
county_codes = pd.read_excel(open(ccml, 'rb'), sheet_name = 'County_Codes', header = 0)
county_codes.head(5)

  State Name State Code Subdivision Code        County Name  County Code
0     ALASKA         AK                S          ADAK QUAD            1
1     ALASKA         AK                S       AFOGNAK QUAD            3
2     ALASKA         AK                S  AMBLER RIVER QUAD            5
3     ALASKA         AK                S        AMUKTA QUAD            7
4     ALASKA         AK                S     ANCHORAGE QUAD            9

In [43]:
county_codes.to_csv(r'../data/cleandata/county_codes.csv')

In [41]:
# Get column names
column_names = county_codes.columns
print(column_names)

Index(['State Name', 'State Code', 'Subdivision Code', 'County Name',
       'County Code'],
      dtype='object')

In [3]:
# Get column data types
county_codes.dtypes

State Name          object
State Code          object
Subdivision Code    object
County Name         object
County Code          int64
dtype: object

In [4]:
#Open the worksheet oil and gas county production
oilgascounty = "../data/rawdata/oilgascounty.xls"
oilgas_county = pd.read_excel(open(oilgascounty, 'rb'), sheet_name = 'oilgascounty', header = 0)
oilgas_county.head(5)

,FIPS,geoid,Stabr,County_Name,Rural_Urban_Continuum_Code_2013,Urban_Influence_2013,Metro_Nonmetro_2013,Metro_Micro_Noncore_2013,oil2000,oil2001,...,gas2005,gas2006,gas2007,gas2008,gas2009,gas2010,gas2011,oil_change_group,gas_change_group,oil_gas_change_group
0,1001,1001,AL,Autauga County,2,2,1,2,0,0,...,0,0,0,0,0,0,0,Status Quo,Status Quo,Status Quo
1,1003,1003,AL,Baldwin County,3,2,1,2,138072,134666,...,84536875,83951640,82876786,78547145,68525628,63069025,51041072,Status Quo,H_Decline,H_Decline
2,1005,1005,AL,Barbour County,6,6,0,0,0,0,...,0,0,0,0,0,0,0,Status Quo,Status Quo,Status Quo
3,1007,1007,AL,Bibb County,1,1,1,2,0,0,...,8301,98853,480015,684143,551719,453132,400504,Status Quo,Status Quo,Status Quo
4,1009,1009,AL,Blount County,1,1,1,2,0,0,...,0,0,0,20516,61054,3594,21496,Status Quo,Status Quo,Status Quo

In [5]:
#verify data types
oilgas_county.dtypes

FIPS                                int64
geoid                               int64
Stabr                              object
County_Name                        object
Rural_Urban_Continuum_Code_2013     int64
Urban_Influence_2013                int64
Metro_Nonmetro_2013                 int64
Metro_Micro_Noncore_2013            int64
oil2000                             int64
oil2001                             int64
oil2002                             int64
oil2003                             int64
oil2004                             int64
oil2005                             int64
oil2006                             int64
oil2007                             int64
oil2008                             int64
oil2009                             int64
oil2010                             int64
oil2011                             int64
gas2000                             int64
gas2001                             int64
gas2002                             int64
gas2003                             int64
gas2004                             int64
gas2005                             int64
gas2006                             int64
gas2007                             int64
gas2008                             int64
gas2009                             int64
gas2010                             int64
gas2011                             int64
oil_change_group                   object
gas_change_group                   object
oil_gas_change_group               object
dtype: object

In [6]:
print(oilgas_county.columns)

Index(['FIPS', 'geoid', 'Stabr', 'County_Name',
       'Rural_Urban_Continuum_Code_2013', 'Urban_Influence_2013',
       'Metro_Nonmetro_2013', 'Metro_Micro_Noncore_2013', 'oil2000', 'oil2001',
       'oil2002', 'oil2003', 'oil2004', 'oil2005', 'oil2006', 'oil2007',
       'oil2008', 'oil2009', 'oil2010', 'oil2011', 'gas2000', 'gas2001',
       'gas2002', 'gas2003', 'gas2004', 'gas2005', 'gas2006', 'gas2007',
       'gas2008', 'gas2009', 'gas2010', 'gas2011', 'oil_change_group',
       'gas_change_group', 'oil_gas_change_group'],
      dtype='object')

In [7]:
# delete nonessential columns

In [44]:
#Open the worksheet Anadarko Region production
dpr_data = "../data/rawdata/dpr-data.xlsx"
dpr_anadarko = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Anadarko Region', header = 1)
dpr_anadarko.insert(loc = 0, column = 'Region', value = 'Anadarko')
dpr_anadarko.head(5)

,Region,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,Anadarko,2007-01-01,176.0,19.351349,-549.87984,126398.038,841.708071,-112116.82,4031234.67
1,Anadarko,2007-02-01,180.0,20.184628,-892.04952,134177.221,847.701921,-115362.73,4053324.71
2,Anadarko,2007-03-01,166.0,20.935188,-1196.72950,137515.513,852.164166,-118263.59,4165395.70
3,Anadarko,2007-04-01,157.0,21.768502,-1530.13110,140641.592,856.001392,-121435.61,4120066.16
4,Anadarko,2007-05-01,170.0,22.587675,-1850.33240,138412.629,858.961651,-124485.49,4187525.80

In [45]:
dpr_anadarko.to_csv(r'../data/cleandata/dpr_anadarko.csv')

In [18]:
dpr_anadarko.dtypes

Region                                object
Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [19]:
# Open the worksheet Appalachia Region production
dpr_appalachia = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Appalachia Region', header = 1)
dpr_appalachia.insert(loc = 0, column = 'Region', value = 'Appalachia')
dpr_appalachia.head(5)

,Region,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,Appalachia,2007-01-01,56.0,7.643043,-567.55468,27000.0,411.949477,-15793.161,1298430.80
1,Appalachia,2007-02-01,56.0,8.287376,-591.27731,27000.0,417.957206,-15490.767,1310307.03
2,Appalachia,2007-03-01,53.0,8.830433,-608.81279,29000.0,423.678074,-15274.369,1318131.25
3,Appalachia,2007-04-01,52.0,9.385639,-622.77663,28000.0,430.387295,-15081.652,1335947.50
4,Appalachia,2007-05-01,54.0,9.883597,-631.93000,28000.0,437.291442,-14919.310,1360732.03

In [20]:
dpr_appalachia.to_csv(r'../data/cleandata/dpr_appalachia.csv')

In [8]:
dpr_appalachia.dtypes

Region                                object
Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [9]:
# Open the worksheet Bakken Region production
dpr_bakken = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Bakken Region', header = 1)
dpr_bakken.insert(loc = 0, column = 'Region', value = 'Bakken')
dpr_bakken.head(5)

,Region,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,Bakken,2007-01-01,45.0,111.176895,-2160.2862,132027.677,81.635101,-1802.8953,187705.064
1,Bakken,2007-02-01,42.0,112.103108,-2425.9130,131832.785,81.178987,-1946.8123,187973.821
2,Bakken,2007-03-01,44.0,112.864733,-2668.2575,133265.096,80.690193,-2078.5173,186191.774
3,Bakken,2007-04-01,47.0,113.620154,-2939.3129,132782.933,80.081971,-2226.0392,189048.133
4,Bakken,2007-05-01,46.0,114.277753,-3204.3286,137284.612,79.498488,-2370.1638,196984.419

In [ ]:
dpr_bakken.to_csv(r'../data/cleandata/dpr_bakken.csv')

In [13]:
dpr_bakken.dtypes

Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [21]:
# Open the worksheet Eagle Ford Region production
dpr_eagle_ford = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Eagle Ford Region', header = 1)
dpr_eagle_ford.insert(loc = 0, column = 'Region', value = 'Eagle Ford')
dpr_eagle_ford.head(5)

,Region,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,Eagle Ford,2007-01-01,51.0,44.284896,-1945.6152,53993.8064,1270.41362,-53051.530,1599376.80
1,Eagle Ford,2007-02-01,56.0,42.969267,-1940.3471,56284.6785,1243.39963,-54185.231,1651074.92
2,Eagle Ford,2007-03-01,58.0,41.756225,-1934.8816,54825.6451,1220.34438,-55178.640,1657453.12
3,Eagle Ford,2007-04-01,56.0,40.389300,-1928.6800,56724.9333,1196.59633,-56251.863,1669511.36
4,Eagle Ford,2007-05-01,55.0,39.065098,-1923.1872,56679.9677,1175.41072,-57272.677,1634131.29

In [22]:
dpr_eagle_ford.to_csv(r'../data/cleandata/dpr_eagle_ford.csv')

In [23]:
dpr_eagle_ford.dtypes

Region                                object
Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [24]:
# Open the worksheet Haynesville Region production
dpr_haynesville = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Haynesville Region', header = 1)
dpr_haynesville.insert(loc = 0, column = 'Region', value = 'Haynesville')
dpr_haynesville.head(5)

,Region,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,Haynesville,2007-01-01,170.0,6.324151,-1255.5354,60138.0322,932.634566,-120792.39,3566039.74
1,Haynesville,2007-02-01,179.0,6.469649,-1260.8246,60804.0357,953.985150,-125917.78,3589267.17
2,Haynesville,2007-03-01,179.0,6.605498,-1265.8809,61462.2903,973.071541,-130529.79,3659389.25
3,Haynesville,2007-04-01,186.0,6.760611,-1272.0540,60370.4333,994.016761,-135617.80,3694805.96
4,Haynesville,2007-05-01,184.0,6.913500,-1278.9825,59217.6774,1014.231890,-140531.12,3726506.22

In [25]:
dpr_haynesville.to_csv(r'../data/cleandata/dpr_haynesville.csv')

In [27]:
dpr_haynesville.dtypes

Region                                object
Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [28]:
# Open the worksheet Niobrara Region production
dpr_niobrara = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Niobrara Region', header = 1)
dpr_niobrara.insert(loc = 0, column = 'Region', value = 'Niobrara')
dpr_niobrara.head(5)

,Region,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,Niobrara,2007-01-01,107.0,35.281196,-528.67230,112966.548,1211.54001,-85400.074,3439026.12
1,Niobrara,2007-02-01,104.0,35.049066,-877.44212,116343.750,1224.45853,-86938.625,3514315.32
2,Niobrara,2007-03-01,109.0,34.830908,-1171.02590,123216.774,1236.02226,-88322.051,3546589.25
3,Niobrara,2007-04-01,113.0,34.582675,-1472.49070,128074.399,1248.76926,-89846.855,3540485.46
4,Niobrara,2007-05-01,108.0,34.344600,-1744.14270,127122.709,1261.22227,-91315.893,3667278.29

In [29]:
dpr_niobrara.to_csv(r'../data/cleandata/dpr_niobrara.csv')

In [30]:
dpr_niobrara.dtypes

Region                                object
Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [31]:
# Open the worksheet Permian Region production
dpr_permian = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Permian Region', header = 1)
dpr_permian.insert(loc = 0, column = 'Region', value = 'Permian')
dpr_permian.head(5)

,Region,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,Permian,2007-01-01,248.0,58.999530,-11200.221,842782.161,584.405436,-90487.221,4602747.32
1,Permian,2007-02-01,253.0,58.892650,-11383.281,857277.107,572.640969,-93907.382,4707079.89
2,Permian,2007-03-01,242.0,58.776147,-11548.165,851889.516,561.692674,-96887.390,4763664.45
3,Permian,2007-04-01,243.0,58.632683,-11734.781,853185.299,549.272206,-100081.740,4810333.00
4,Permian,2007-05-01,243.0,58.513700,-11923.737,843555.677,537.272034,-103099.400,4830023.54

In [32]:
dpr_permian.to_csv(r'../data/cleandata/dpr_permian.csv')

In [33]:
dpr_permian.dtypes

Region                                object
Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [34]:
# Open the worksheet Region Counties
dpr_region_counties = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'RegionCounties', header = 0)
dpr_region_counties.head(5)

  State   County  StateID  CountyID           Region
0    OK  ALFALFA       35         3  Anadarko Region
1    OK   BEAVER       35         7  Anadarko Region
2    OK  BECKHAM       35         9  Anadarko Region
3    OK   BLAINE       35        11  Anadarko Region
4    OK    CADDO       35        15  Anadarko Region

In [35]:
dpr_region_counties.to_csv(r'../data/cleandata/dpr_region_counties.csv')

In [36]:
dpr_region_counties.dtypes

State       object
County      object
StateID      int64
CountyID     int64
Region      object
dtype: object

In [37]:
regions = [dpr_anadarko, dpr_appalachia, dpr_bakken, dpr_eagle_ford, dpr_haynesville, dpr_niobrara, dpr_permian]
production = pd.concat (regions)
production.head

<bound method NDFrame.head of        Region      Month  Rig count  Production per rig  \
0    Anadarko 2007-01-01      176.0           19.351349
1    Anadarko 2007-02-01      180.0           20.184628
2    Anadarko 2007-03-01      166.0           20.935188
3    Anadarko 2007-04-01      157.0           21.768502
4    Anadarko 2007-05-01      170.0           22.587675
5    Anadarko 2007-06-01      181.0           23.478856
6    Anadarko 2007-07-01      166.0           24.410539
7    Anadarko 2007-08-01      173.0           25.432411
8    Anadarko 2007-09-01      168.0           26.416773
9    Anadarko 2007-10-01      174.0           27.420736
10   Anadarko 2007-11-01      182.0           28.395542
11   Anadarko 2007-12-01      182.0           29.456138
12   Anadarko 2008-01-01      180.0           30.722939
13   Anadarko 2008-02-01      187.0           31.769834
14   Anadarko 2008-03-01      190.0           32.289438
15   Anadarko 2008-04-01      190.0           32.477589
16   Anadarko 2008-05-01      189.0           32.460319
17   Anadarko 2008-06-01      188.0           32.172960
18   Anadarko 2008-07-01      194.0           31.648781
19   Anadarko 2008-08-01      204.0           31.234383
20   Anadarko 2008-09-01      206.0           31.242021
21   Anadarko 2008-10-01      197.0           31.777170
22   Anadarko 2008-11-01      181.0           32.818070
23   Anadarko 2008-12-01      150.0           34.343363
24   Anadarko 2009-01-01      128.0           36.614394
25   Anadarko 2009-02-01      105.0           39.600927
26   Anadarko 2009-03-01       84.0           42.656278
27   Anadarko 2009-04-01       72.0           46.268960
28   Anadarko 2009-05-01       62.0           49.804717
29   Anadarko 2009-06-01       57.0           53.302959
..        ...        ...        ...                 ...
117   Permian 2016-10-01      206.0          714.363376
118   Permian 2016-11-01      222.0          673.962356
119   Permian 2016-12-01      252.0          636.690909
120   Permian 2017-01-01      276.0          609.701871
121   Permian 2017-02-01      300.0          588.168766
122   Permian 2017-03-01      310.0          568.117806
123   Permian 2017-04-01      337.0          543.702242
124   Permian 2017-05-01      356.0          527.299657
125   Permian 2017-06-01      366.0          522.145209
126   Permian 2017-07-01      373.0          527.112391
127   Permian 2017-08-01      377.0          538.962075
128   Permian 2017-09-01      380.0          558.552235
129   Permian 2017-10-01      381.0          580.328006
130   Permian 2017-11-01      388.0          604.973815
131   Permian 2017-12-01      398.0          625.592516
132   Permian 2018-01-01      409.0          640.720316
133   Permian 2018-02-01      432.0          649.171943
134   Permian 2018-03-01      438.0          650.493075
135   Permian 2018-04-01      448.0          646.180146
136   Permian 2018-05-01      465.0          637.630834
137   Permian 2018-06-01      475.0          634.132456
138   Permian 2018-07-01      477.0          635.844993
139   Permian 2018-08-01      484.0          637.593860
140   Permian 2018-09-01      485.0          639.019850
141   Permian 2018-10-01      488.0          640.559594
142   Permian 2018-11-01      490.0          642.997679
143   Permian 2018-12-01      485.0          637.997679
144   Permian 2019-01-01      485.0          612.997679
145   Permian 2019-02-01        NaN          597.997679
146   Permian 2019-03-01        NaN          602.997679

     Legacy production change  Total production  Production per rig.1  \
0                  -549.87984        126398.038            841.708071
1                  -892.04952        134177.221            847.701921
2                 -1196.72950        137515.513            852.164166
3                 -1530.13110        140641.592            856.001392
4                 -1850.33240        138412.629            858.961651
5                 -2180.52240        137456.592            861.834679
6                 -2500.38650        137486.734            865.079997
7                 -2831.29920        136560.928            869.278840
8                 -3161.79760        147890.736            872.045957
9                 -3480.01290        141914.097            871.369190
10                -3806.93570        144096.361            868.229791
11                -4120.14150        138315.262            866.488103
12                -4437.32470        150085.095            872.041215
13                -4740.20790        136413.946            882.070042
14                -4997.64430        153781.227            887.881333
15                -5220.23400        153329.046            891.145292
16                -5342.85470        149851.002            893.287426
17                -5447.97700        150351.952            889.608937
18                -5551.61380        151141.695            883.470708
19                -5653.36840        148435.535            882.709980
20                -5722.78290        153582.805            893.113335
21                -5757.47340        144753.825            912.567902
22                -5772.60660        144397.799            937.358648
23                -5801.87330        139955.623            966.765663
24                -5841.71460        142224.136           1006.365830
25                -5847.46450        152920.854           1056.051650
26                -5801.53190        142329.266           1104.049390
27                -5695.72510        148624.669           1153.021590
28                -5545.15310        150063.316           1185.332670
29                -5368.13800        146761.889           1196.171750
..                        ...               ...                   ...
117             -107752.05000       2091628.870           1379.681030
118             -110341.33000       2115693.100           1288.340750
119             -113213.60000       2117090.580           1206.119890
120             -116688.56000       2144774.060           1153.428840
121             -120446.90000       2251524.140           1136.390220
122             -123701.76000       2269372.870           1137.384830
123             -127394.72000       2295842.030           1148.629530
124             -131310.55000       2392044.700           1164.263820
125             -135850.11000       2409918.330           1183.937310
126             -140767.18000       2433056.640           1199.658340
127             -146229.50000       2486546.480           1213.733770
128             -151999.82000       2590239.860           1235.321370
129             -157689.55000       2725235.250           1248.010210
130             -163358.65000       2809970.660           1250.329380
131             -168749.18000       2863544.320           1243.395530
132             -174282.13000       2850364.480           1232.264270
133             -179794.40000       3010461.850           1227.571450
134             -184748.95000       3169343.350           1224.859010
135             -190220.20000       3238453.900           1223.092170
136             -195519.72000       3241770.510           1218.333280
137             -201010.85000       3358395.660           1216.255940
138             -206333.64000       3399639.250           1220.294730
139             -211834.93000       3517727.740           1224.153660
140             -217331.57000       3643041.610           1227.077530
141             -222643.46000       3689980.690           1228.934870
142             -228122.00000       3795648.980           1229.956160
143             -233412.13000       3873579.720           1209.956160
144             -238866.72000       3935081.860           1189.956160
145             -244309.93000       3980800.800           1179.956160
146             -249217.11000       4024037.550           1194.956160

     Legacy production change.1  Total production.1
0                    -112116.82          4031234.67
1                    -115362.73          4053324.71
2                    -118263.59          4165395.70
3                    -121435.61          4120066.16
4                    -124485.49          4187525.80
5                    -127626.29          4215022.56
6                    -130676.17          4194201.58
7                    -133867.50          4179020.45
8                    -137107.41          4225867.76
9                    -140287.38          4244207.87
10                   -143629.75          4257954.43
11                   -146931.81          4117735.83
12                   -150389.14          4197013.48
13                   -153589.41          4243579.75
14                   -155810.82          4247842.09
15                   -157569.62          4324881.73
16                   -159090.07          4331260.29
17                   -160609.77          4303752.03
18                   -161688.16          4291665.80
19                   -161924.65          4274460.12
20                   -161245.10          4257180.53
21                   -159977.37          4181587.38
22                   -158070.22          4274001.76
23                   -155447.96          4281795.64
24                   -151722.93          4303692.58
25                   -147673.28          4392106.53
26                   -143888.71          4180801.09
27                   -139345.54          4207151.09
28                   -135022.98          4272434.64
29                   -130868.95          4250064.83
..                          ...                 ...
117                  -161888.28          7466650.67
118                  -167002.23          7447668.36
119                  -173588.08          7238148.58
120                  -179805.38          7312840.06
121                  -184697.18          7729849.60
122                  -188446.49          7837600.51
123                  -192431.61          7951995.46
124                  -196432.36          8365261.70
125                  -200977.15          8351707.39
126                  -206412.19          8584734.80
127                  -213493.20          8670817.41
128                  -222257.86          8851086.23
129                  -232086.24          9251545.06
130                  -243301.75          9455942.86
131                  -254215.77          9372215.19
132                  -264289.34          9190119.70
133                  -271549.19          9872757.17
134                  -278155.46         10288189.30
135                  -285595.64         10579755.00
136                  -292820.75         10896498.60
137                  -300232.10         11121140.00
138                  -307306.76         11449986.20
139                  -314490.49         11762725.80
140                  -321533.03         11976709.10
141                  -328211.33         12231506.70
142                  -334976.72         12486340.80
143                  -341406.77         12724919.60
144                  -347949.93         12960048.20
145                  -354409.12         13177917.80
146                  -360183.65         13397287.90

[1029 rows x 9 columns]>

In [38]:
production.to_csv(r'../data/cleandata/production.csv')