In [14]:
import pandas as pd
import xlrd

county_code = "../data/rawdata/ccml.xlsx"
df = pd.read_excel(open(county_code, 'rb'), sheet_name = 'County_Codes', header = 0)
df.head(5)

  State Name State Code Subdivision Code        County Name  County Code
0     ALASKA         AK                S          ADAK QUAD            1
1     ALASKA         AK                S       AFOGNAK QUAD            3
2     ALASKA         AK                S  AMBLER RIVER QUAD            5
3     ALASKA         AK                S        AMUKTA QUAD            7
4     ALASKA         AK                S     ANCHORAGE QUAD            9

In [2]:
# Get column names
column_names = df.columns
print(column_names)

Index(['State Name', 'State Code', 'Subdivision Code', 'County Name',
       'County Code'],
      dtype='object')

In [3]:
# Get column data types
df.dtypes

State Name          object
State Code          object
Subdivision Code    object
County Name         object
County Code          int64
dtype: object

In [15]:
#Open the worksheet oil and gas county production
oilgas_county = "../data/rawdata/oilgascounty.xls"
df = pd.read_excel(open(oilgas_county, 'rb'), sheet_name = 'oilgascounty', header = 0)
df.head(5)

,FIPS,geoid,Stabr,County_Name,Rural_Urban_Continuum_Code_2013,Urban_Influence_2013,Metro_Nonmetro_2013,Metro_Micro_Noncore_2013,oil2000,oil2001,...,gas2005,gas2006,gas2007,gas2008,gas2009,gas2010,gas2011,oil_change_group,gas_change_group,oil_gas_change_group
0,1001,1001,AL,Autauga County,2,2,1,2,0,0,...,0,0,0,0,0,0,0,Status Quo,Status Quo,Status Quo
1,1003,1003,AL,Baldwin County,3,2,1,2,138072,134666,...,84536875,83951640,82876786,78547145,68525628,63069025,51041072,Status Quo,H_Decline,H_Decline
2,1005,1005,AL,Barbour County,6,6,0,0,0,0,...,0,0,0,0,0,0,0,Status Quo,Status Quo,Status Quo
3,1007,1007,AL,Bibb County,1,1,1,2,0,0,...,8301,98853,480015,684143,551719,453132,400504,Status Quo,Status Quo,Status Quo
4,1009,1009,AL,Blount County,1,1,1,2,0,0,...,0,0,0,20516,61054,3594,21496,Status Quo,Status Quo,Status Quo

In [17]:
#verify data types
df.dtypes

FIPS                                int64
geoid                               int64
Stabr                              object
County_Name                        object
Rural_Urban_Continuum_Code_2013     int64
Urban_Influence_2013                int64
Metro_Nonmetro_2013                 int64
Metro_Micro_Noncore_2013            int64
oil2000                             int64
oil2001                             int64
oil2002                             int64
oil2003                             int64
oil2004                             int64
oil2005                             int64
oil2006                             int64
oil2007                             int64
oil2008                             int64
oil2009                             int64
oil2010                             int64
oil2011                             int64
gas2000                             int64
gas2001                             int64
gas2002                             int64
gas2003                             int64
gas2004                             int64
gas2005                             int64
gas2006                             int64
gas2007                             int64
gas2008                             int64
gas2009                             int64
gas2010                             int64
gas2011                             int64
oil_change_group                   object
gas_change_group                   object
oil_gas_change_group               object
dtype: object

In [18]:
# delete nonessential columns

In [19]:
#Open the worksheet Anadarko Region production
dpr_anadarko = "../data/rawdata/dpr-data.xlsx"
df = pd.read_excel(open(dpr_anadarko, 'rb'), sheet_name = 'Anadarko Region', header = 0)
df.head(5)

,Anadarko Region,Unnamed: 1,Oil (bbl/d),Unnamed: 3,Unnamed: 4,Natural gas (Mcf/d),Unnamed: 6,Unnamed: 7
0,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig,Legacy production change,Total production
1,2007-01-01 00:00:00,176,19.3513,-549.88,126398,841.708,-112117,4.03123e+06
2,2007-02-01 00:00:00,180,20.1846,-892.05,134177,847.702,-115363,4.05332e+06
3,2007-03-01 00:00:00,166,20.9352,-1196.73,137516,852.164,-118264,4.1654e+06
4,2007-04-01 00:00:00,157,21.7685,-1530.13,140642,856.001,-121436,4.12007e+06

In [20]:
df.dtypes

Anadarko Region        object
Unnamed: 1             object
Oil (bbl/d)            object
Unnamed: 3             object
Unnamed: 4             object
Natural gas (Mcf/d)    object
Unnamed: 6             object
Unnamed: 7             object
dtype: object

In [22]:
# Open the worksheet Appalachia Region production
dpr_appalachia = "../data/rawdata/dpr-data.xlsx"
df = pd.read_excel(open(dpr_appalachia, 'rb'), sheet_name = 'Appalachia Region', header = 0)
df.head(5)

,Appalachia Region,Unnamed: 1,Oil (bbl/d),Unnamed: 3,Unnamed: 4,Natural gas (Mcf/d),Unnamed: 6,Unnamed: 7
0,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig,Legacy production change,Total production
1,2007-01-01 00:00:00,56,7.64304,-567.555,27000,411.949,-15793.2,1.29843e+06
2,2007-02-01 00:00:00,56,8.28738,-591.277,27000,417.957,-15490.8,1.31031e+06
3,2007-03-01 00:00:00,53,8.83043,-608.813,29000,423.678,-15274.4,1.31813e+06
4,2007-04-01 00:00:00,52,9.38564,-622.777,28000,430.387,-15081.7,1.33595e+06

In [23]:
df.dtypes

Appalachia Region      object
Unnamed: 1             object
Oil (bbl/d)            object
Unnamed: 3             object
Unnamed: 4             object
Natural gas (Mcf/d)    object
Unnamed: 6             object
Unnamed: 7             object
dtype: object