In [2]:
import pandas as pd

ccml = "../data/rawdata/ccml.xlsx"
county_codes = pd.read_excel(open(ccml, 'rb'), sheet_name = 'County_Codes', header = 0)
county_codes.head(5)

  State Name State Code Subdivision Code        County Name  County Code
0     ALASKA         AK                S          ADAK QUAD            1
1     ALASKA         AK                S       AFOGNAK QUAD            3
2     ALASKA         AK                S  AMBLER RIVER QUAD            5
3     ALASKA         AK                S        AMUKTA QUAD            7
4     ALASKA         AK                S     ANCHORAGE QUAD            9

In [4]:
# Get column names
column_names = county_codes.columns
print(column_names)

Index(['State Name', 'State Code', 'Subdivision Code', 'County Name',
       'County Code'],
      dtype='object')

In [3]:
# Get column data types
county_codes.dtypes

State Name          object
State Code          object
Subdivision Code    object
County Name         object
County Code          int64
dtype: object

In [4]:
#Open the worksheet oil and gas county production
oilgascounty = "../data/rawdata/oilgascounty.xls"
oilgas_county = pd.read_excel(open(oilgascounty, 'rb'), sheet_name = 'oilgascounty', header = 0)
oilgas_county.head(5)

,FIPS,geoid,Stabr,County_Name,Rural_Urban_Continuum_Code_2013,Urban_Influence_2013,Metro_Nonmetro_2013,Metro_Micro_Noncore_2013,oil2000,oil2001,...,gas2005,gas2006,gas2007,gas2008,gas2009,gas2010,gas2011,oil_change_group,gas_change_group,oil_gas_change_group
0,1001,1001,AL,Autauga County,2,2,1,2,0,0,...,0,0,0,0,0,0,0,Status Quo,Status Quo,Status Quo
1,1003,1003,AL,Baldwin County,3,2,1,2,138072,134666,...,84536875,83951640,82876786,78547145,68525628,63069025,51041072,Status Quo,H_Decline,H_Decline
2,1005,1005,AL,Barbour County,6,6,0,0,0,0,...,0,0,0,0,0,0,0,Status Quo,Status Quo,Status Quo
3,1007,1007,AL,Bibb County,1,1,1,2,0,0,...,8301,98853,480015,684143,551719,453132,400504,Status Quo,Status Quo,Status Quo
4,1009,1009,AL,Blount County,1,1,1,2,0,0,...,0,0,0,20516,61054,3594,21496,Status Quo,Status Quo,Status Quo

In [5]:
#verify data types
oilgas_county.dtypes

FIPS                                int64
geoid                               int64
Stabr                              object
County_Name                        object
Rural_Urban_Continuum_Code_2013     int64
Urban_Influence_2013                int64
Metro_Nonmetro_2013                 int64
Metro_Micro_Noncore_2013            int64
oil2000                             int64
oil2001                             int64
oil2002                             int64
oil2003                             int64
oil2004                             int64
oil2005                             int64
oil2006                             int64
oil2007                             int64
oil2008                             int64
oil2009                             int64
oil2010                             int64
oil2011                             int64
gas2000                             int64
gas2001                             int64
gas2002                             int64
gas2003                             int64
gas2004                             int64
gas2005                             int64
gas2006                             int64
gas2007                             int64
gas2008                             int64
gas2009                             int64
gas2010                             int64
gas2011                             int64
oil_change_group                   object
gas_change_group                   object
oil_gas_change_group               object
dtype: object

In [6]:
print(oilgas_county.columns)

Index(['FIPS', 'geoid', 'Stabr', 'County_Name',
       'Rural_Urban_Continuum_Code_2013', 'Urban_Influence_2013',
       'Metro_Nonmetro_2013', 'Metro_Micro_Noncore_2013', 'oil2000', 'oil2001',
       'oil2002', 'oil2003', 'oil2004', 'oil2005', 'oil2006', 'oil2007',
       'oil2008', 'oil2009', 'oil2010', 'oil2011', 'gas2000', 'gas2001',
       'gas2002', 'gas2003', 'gas2004', 'gas2005', 'gas2006', 'gas2007',
       'gas2008', 'gas2009', 'gas2010', 'gas2011', 'oil_change_group',
       'gas_change_group', 'oil_gas_change_group'],
      dtype='object')

In [7]:
# delete nonessential columns

In [5]:
#Open the worksheet Anadarko Region production
dpr_data = "../data/rawdata/dpr-data.xlsx"
dpr_anadarko = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Anadarko Region', header = 1)
dpr_anadarko.insert(loc = 0, column = 'Region', value = 'Anadarko')
dpr_anadarko.head(5)

,Region,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,Anadarko,2007-01-01,176.0,19.351349,-549.87984,126398.038,841.708071,-112116.82,4031234.67
1,Anadarko,2007-02-01,180.0,20.184628,-892.04952,134177.221,847.701921,-115362.73,4053324.71
2,Anadarko,2007-03-01,166.0,20.935188,-1196.72950,137515.513,852.164166,-118263.59,4165395.70
3,Anadarko,2007-04-01,157.0,21.768502,-1530.13110,140641.592,856.001392,-121435.61,4120066.16
4,Anadarko,2007-05-01,170.0,22.587675,-1850.33240,138412.629,858.961651,-124485.49,4187525.80

In [14]:
dpr_anadarko.to_csv(r'../data/cleandata/dpr_anadarko.csv')

In [15]:
dpr_anadarko.dtypes

Region                                object
Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [7]:
# Open the worksheet Appalachia Region production
dpr_appalachia = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Appalachia Region', header = 1)
dpr_appalachia.insert(loc = 0, column = 'Region', value = 'Appalachia')
dpr_appalachia.head(5)

,Region,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,Appalachia,2007-01-01,56.0,7.643043,-567.55468,27000.0,411.949477,-15793.161,1298430.80
1,Appalachia,2007-02-01,56.0,8.287376,-591.27731,27000.0,417.957206,-15490.767,1310307.03
2,Appalachia,2007-03-01,53.0,8.830433,-608.81279,29000.0,423.678074,-15274.369,1318131.25
3,Appalachia,2007-04-01,52.0,9.385639,-622.77663,28000.0,430.387295,-15081.652,1335947.50
4,Appalachia,2007-05-01,54.0,9.883597,-631.93000,28000.0,437.291442,-14919.310,1360732.03

In [8]:
dpr_appalachia.dtypes

Region                                object
Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [9]:
# Open the worksheet Bakken Region production
dpr_bakken = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Bakken Region', header = 1)
dpr_bakken.insert(loc = 0, column = 'Region', value = 'Bakken')
dpr_bakken.head(5)

,Region,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,Bakken,2007-01-01,45.0,111.176895,-2160.2862,132027.677,81.635101,-1802.8953,187705.064
1,Bakken,2007-02-01,42.0,112.103108,-2425.9130,131832.785,81.178987,-1946.8123,187973.821
2,Bakken,2007-03-01,44.0,112.864733,-2668.2575,133265.096,80.690193,-2078.5173,186191.774
3,Bakken,2007-04-01,47.0,113.620154,-2939.3129,132782.933,80.081971,-2226.0392,189048.133
4,Bakken,2007-05-01,46.0,114.277753,-3204.3286,137284.612,79.498488,-2370.1638,196984.419

In [13]:
dpr_bakken.dtypes

Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [14]:
# Open the worksheet Eagle Ford Region production
dpr_eagle_ford = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Eagle Ford Region', header = 1)
dpr_eagle_ford.head(5)

,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,2007-01-01,51.0,44.284896,-1945.6152,53993.8064,1270.41362,-53051.530,1599376.80
1,2007-02-01,56.0,42.969267,-1940.3471,56284.6785,1243.39963,-54185.231,1651074.92
2,2007-03-01,58.0,41.756225,-1934.8816,54825.6451,1220.34438,-55178.640,1657453.12
3,2007-04-01,56.0,40.389300,-1928.6800,56724.9333,1196.59633,-56251.863,1669511.36
4,2007-05-01,55.0,39.065098,-1923.1872,56679.9677,1175.41072,-57272.677,1634131.29

In [15]:
dpr_eagle_ford.dtypes

Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [16]:
# Open the worksheet Haynesville Region production
dpr_haynesville = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Haynesville Region', header = 1)
dpr_haynesville.head(5)

,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,2007-01-01,170.0,6.324151,-1255.5354,60138.0322,932.634566,-120792.39,3566039.74
1,2007-02-01,179.0,6.469649,-1260.8246,60804.0357,953.985150,-125917.78,3589267.17
2,2007-03-01,179.0,6.605498,-1265.8809,61462.2903,973.071541,-130529.79,3659389.25
3,2007-04-01,186.0,6.760611,-1272.0540,60370.4333,994.016761,-135617.80,3694805.96
4,2007-05-01,184.0,6.913500,-1278.9825,59217.6774,1014.231890,-140531.12,3726506.22

In [17]:
dpr_haynesville.dtypes

Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [18]:
# Open the worksheet Niobrara Region production
dpr_niobrara = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Niobrara Region', header = 1)
dpr_niobrara.head(5)

,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,2007-01-01,107.0,35.281196,-528.67230,112966.548,1211.54001,-85400.074,3439026.12
1,2007-02-01,104.0,35.049066,-877.44212,116343.750,1224.45853,-86938.625,3514315.32
2,2007-03-01,109.0,34.830908,-1171.02590,123216.774,1236.02226,-88322.051,3546589.25
3,2007-04-01,113.0,34.582675,-1472.49070,128074.399,1248.76926,-89846.855,3540485.46
4,2007-05-01,108.0,34.344600,-1744.14270,127122.709,1261.22227,-91315.893,3667278.29

In [19]:
dpr_niobrara.dtypes

Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [20]:
# Open the worksheet Permian Region production
dpr_permian = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'Permian Region', header = 1)
dpr_permian.head(5)

,Month,Rig count,Production per rig,Legacy production change,Total production,Production per rig.1,Legacy production change.1,Total production.1
0,2007-01-01,248.0,58.999530,-11200.221,842782.161,584.405436,-90487.221,4602747.32
1,2007-02-01,253.0,58.892650,-11383.281,857277.107,572.640969,-93907.382,4707079.89
2,2007-03-01,242.0,58.776147,-11548.165,851889.516,561.692674,-96887.390,4763664.45
3,2007-04-01,243.0,58.632683,-11734.781,853185.299,549.272206,-100081.740,4810333.00
4,2007-05-01,243.0,58.513700,-11923.737,843555.677,537.272034,-103099.400,4830023.54

In [21]:
dpr_permian.dtypes

Month                         datetime64[ns]
Rig count                            float64
Production per rig                   float64
Legacy production change             float64
Total production                     float64
Production per rig.1                 float64
Legacy production change.1           float64
Total production.1                   float64
dtype: object

In [22]:
# Open the worksheet Region Counties
dpr_region_counties = pd.read_excel(open(dpr_data, 'rb'), sheet_name = 'RegionCounties', header = 0)
dpr_region_counties.head(5)

  State   County  StateID  CountyID           Region
0    OK  ALFALFA       35         3  Anadarko Region
1    OK   BEAVER       35         7  Anadarko Region
2    OK  BECKHAM       35         9  Anadarko Region
3    OK   BLAINE       35        11  Anadarko Region
4    OK    CADDO       35        15  Anadarko Region

In [ ]:
dpr_region_counties.dtypes